.app-standard {
	width: 500px;
}

.center-screen {
	margin: 0 auto;
}

.panel-status {
	border: 1px solid #ddd;
	padding: 10px;
	word-wrap: break-word;
	box-shadow: 0 5px 20px #ccc;
}

.panel-status-title {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background: #ddd;
}